<%- include('../partials/header') %>


<link rel="stylesheet" href='/css/admin-styles.css'>
<link rel="stylesheet" href='/css/admin-side-column.css'>

<title>BW Blairwalf | ABM Proveedores</title>
</header>



<body>
    <div class="container-fluid">
        <div class="row">

        <%- include('../partials/side-column') %>

        <div class="col">
            <p class="centrar">Administración de proveedores</p>
            @if(session('message'))
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{session('message')}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div> 
            @endif
            @if(session('message-error'))
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{session('message-error')}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            @endif
            <a href="/admin/crear-proveedor" class="btn send-button mb-3" >Crear nuevo Proveedor</a>    
            @foreach ($proveedores as $proveedor)
            <div class="product-detail-content mb-2">
                <div class="flex justify-content-between adm-title-data">
                    <a href="#">{{$proveedor->proveedor_name}}</a>
                    <span>
                        <a href="/admin/modificar-proveedor/{{$proveedor->proveedor_id}}">Modificar</a>
                    <a href="/admin/borrar-proveedor/{{$proveedor->proveedor_id}}">Eliminar</a>
                    </span>
                </div>
                <div class="abm-description-col">
                    <p class="push-right p-nomargin"><small>20-02-2020 12:39hs</small></p>
                </div>
            </div> 
            @endforeach


        </div>
    </div>

<%- include('../partials/footer') %>


        <script src='/js/alerts.js'></script>

</body>
</html>
   
