<%- include('../partials/header') %>

<link rel="stylesheet" href='/css/admin-side-column.css'>
<link rel="stylesheet" href='/css/tarjeta-producto.css'>
<link rel="stylesheet" href='/css/registrar-producto.css'>
<link rel="stylesheet" href='/css/updateImages.css'>

<title>BW blairwalf | Modificar producto</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">

<%- include('../partials/side-column') %>

        <div class="col-sm-8 col-md-9">
            <p class="centrar">MODIFICAR PRODUCTO</p>
        <form action="/admin/crear-producto" method="post" enctype="multipart/form-data">
            @csrf
                <div class="form-group">
                    <label for="category">Categoría</label>
                    <div class="icon-select">
                        <i class="fas fa-sort-down"></i>

                        <select name="category" id="category" class="form-control">
                            @foreach ($categorias as $item)
                        <option value="{{$item->category_id}}" {{$item->category_id == $producto->id_category ? 'selected' : null}}>{{$item->category_title}}</option>        
                            @endforeach
                        </select>
                    </div>
                    <p class="centrar"><small>No está la categoría que buscas? <a href="/admin/crear-categoria"> click aquí</a></small></p>
                </div>
                <div class="form-group">
                    <label for="product_title">Nombre de la prenda</label>
                    <input type="text" name="product_title" id="product_title" class="form-control" value="{{$producto->product_title}}">
                </div>
                <div class="form-group">
                    <label for="product_description">Detalle</label>
                    <textarea name="product_description" id="product_description" cols="30" rows="10" class="form-control">{{$producto->product_description}}</textarea>
                </div>
                <div class="form-row">
                    <div class="col-sm-4">
                        <label for="product_color">Color</label>
                        <input type="text" name="product_color" id="product_color" class="form-control" value="{{$producto->color}}">
                    </div>
                    <div class="col-sm-4">
                        <label for="product_price">Precio</label>
                        <input type="number" name="product_price" id="product_price" class="form-control" value="{{$producto->price}}" min="0">
                    </div>
                    <div class="col-sm-4">
                        <label for="proveedor">Proveedor</label>
                        <div class="icon-select">
                            <i class="fas fa-sort-down"></i>
                        <select name="proveedor" id="proveedor" class="form-control">
                            <option value="">Seleccione una opcion</option>
                            @foreach ($proveedores as $proveedor)
                                <option value="{{$proveedor->proveedor_id}}" {{$item->proveedor_id == $producto->id_proveedor ? 'selected' : null}}>{{$proveedor->proveedor_name}}</option>    
                            @endforeach
                            
                        </select> 
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="product_brand">Marca</label>
                        <div class="icon-select">
                            <i class="fas fa-sort-down"></i>
                        <select name="product_brand" id="product_brand" class="form-control" >
                            <option value="">Seleccione una opcion</option>
                            @foreach ($marcas as $marca)
                                <option value="{{$marca->brand_id}}" {{$item->brand_id == $producto->id_brand ? 'selected' : null}}>{{$marca->brand_name}}</option>    
                            @endforeach
                        </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row-fluid">
                    <div>
                        <p class="centrar">TALLES</p>
                    </div>
                </div>
                <div class="form-row">
                   
                   
                   
                    @foreach ($talles_prenda as $item)
                    @for ($i = 0; $i <count($talles); $i++)
                    @if ($item->size_name == $talles[$i]->size_name)
                    <div class="col-sm-4">
                        <label for="product_size">Talle: {{$talles[$i]->size_name}}</label>
                    <input type="number" name="product_size[][{{$talles[$i]->size_id}}]" id="product_size" class="form-control" value="{{$item->pivot->size_quantity}}" min="0" max="200">
                    </div>
                    @endif


                    @endfor
                    @endforeach

                   
                </div>

                <hr>
                <div class="row productos-destacados row-space">
                @foreach ($imagenes as $img)
                <div class="col tarjeta zoom">
                    <div class="tarjeta-item">
                        <img src="{{asset($img->image_path)}}" alt="">

                    </div>
                    <div class="centrar tarjeta-bottom-modif">
                        <span onclick="startUpdate('img id')">Modificar</span>
                        <span>Eliminar</span>
                    </div>
                </div>    
                @endforeach
                </div>
                 
                <div class="flex"><button type="submit" class="btn send-button">Crear producto</button></div>

                <div class="flex"><a href="#" class="btn"><small>Limpiar formulario</small></a></div>
            </form>
        </div>

        <div id="lbox">
            <div id="upload-panel">
                {{ csrf_field() }}
                <span id="close-panel" onclick="close_panel()">X</span>
                <img src="{{asset('/images/img-upload.jpg')}}" alt="" id="image-preview" height="240px">
                <label for="updateImage">Seleccionar nueva Imagen</label>
                <input type="file" name="updateImage" id="updateImage">
                <p class="required hidden">Debe seleccionar una imagen</p>
                <span href="#" id="submit-update" class="btn send-button mb-3">Subir imagen</span>
            </div>
        </div>

    </div>
</div>
    


<%- include('../partials/footer') %>

        <script src='/js/image-preview.js'></script>
        <script src='/js/api/update-image.js'></script>
</body>
</html>