<%- include('../partials/header') %>
<link rel="stylesheet" href='/css/admin-side-column.css'>
<link rel="stylesheet" href='/css/footer.css'>
<title>BW Blairwalf | Registrar proveedor</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <%- include('../partials/side-column') %>

        <div class="col-sm-8 col-md-9">
            <p class="centrar">CREAR PROVEEDOR</p>

            @if(session('message'))
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{session('message')}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            @endif
            @if(session('message-error'))
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{session('message-error')}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            @endif

            <form action="/admin/crear-proveedor" method="post" class="form">
                @csrf
                <div class="form-group">
                    <label for="proveedor_name">Título</label>
                    <input type="text" name="proveedor_name" id="proveedor_name" class="form-control" data-name="título">
                    <p class="required"></p>
                </div>
                <div class="flex"><button type="submit" class="btn send-button">Crear proveedor</button></div>
            </form>
        </div>

    </div>
  </div>
    
    
   
<%- include('../partials/footer') %>


<script src="/js/alerts.js"></script>
</body>
</html>