<div class="container-fluid header">
    <div class="row menu-search row-space">
        <div class="col col-md-3 menu-icon">
            <span class="item hambr">
                <i class="fas fa-bars"></i>
            </span>
            <span class="item search-icon"><i class="fas fa-search"></i></span>
            <input type="text" name="main-search" id="main-search" placeholder="Buscar">
        </div>
        <div class="col login">
            <div class="login-menu">
                <a href="#"><span>Crear cuenta</span></a>
                |
                <a href="#"><span>Iniciar sesión</span></a>
            </div> 
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row mobile-first-menu">    
        <div class="col first-menu">
            <a href="/admin/abm-productos"><span>ABM PRODUCTOS</span></a>
        </div>
        <div class="col first-menu">
            <a href="/admin/abm-categorias"><span>ABM CATEGORIAS</span></a>
        </div>
        <div class="col first-menu">
            <a href="/admin/abm-marcas"><span>ABM MARCAS</span></a>
        </div>
    </div>
    <div class="row mobile-menu">
        <div class="col menu">

            <a href="/admin/abm-productos"><span>ABM Productos</span></a>
            <a href="/admin/abm-categorias"><span>ABM Categorías</span></a>
            <a href="/admin/abm-marcas"><span>ABM Marcas</span></a>
            <a href="/admin/abm-talles"><span>ABM Talles</span></a>
            <a href="/admin/abm-proveedores"><span>ABM Proveedores</span></a>
            <div class="session-link">
                <a href="#"><span>Cerrar Sesión</span></a>
            </div>
        </div>
    </div>

    <div class="row row-space logo-search">
        <div class="col col-md-3 logo-col">
            <div class="logo item">
            <a href="/"><img src="/images/nuevo logo.png" alt="" ></a>
            </div>
        </div>

        <div class="col menu-expanded">
            <ul class="menu-expanded-ul">
            <li class="menu-expanded-li"><a href="/admin/abm-productos">ABM PRODUCTOS</a></li>
                <li class="menu-expanded-li"><a href="/admin/abm-categorias"><span class="divider-menu"><i class="fas fa-heart"></i></span>ABM CATEGORIAS</a></li>
                <li class="menu-expanded-li"><a href="/admin/abm-talles"><span class="divider-menu"><i class="fas fa-heart"></i></span>ABM TALLES</a></li>
                <li class="menu-expanded-li"><a href="/admin/abm-marcas"><span class="divider-menu"><i class="fas fa-heart"></i></span>ABM MARCAS</a></li>
                <li class="menu-expanded-li"><a href="/admin/abm-proveedores"><span class="divider-menu"><i class="fas fa-heart"></i></span>ABM PROVEEDORES</a></li>
            </ul>
        </div>
    </div>
</div>