<div class="container-fluid header">
    <div class="row menu-search row-space">
        <div class="col col-md-3 menu-icon">
            <span class="item hambr">
                <i class="fas fa-bars"></i>
            </span>
            <span class="item search-icon"><i class="fas fa-search"></i></span>
            <input type="text" name="main-search" id="main-search" placeholder="Buscar">
        </div>
        <div class="col login">
            <div class="login-menu">
                <% if(typeof userData !== 'undefined' && userData.name){ %>
                    <a href="/perfil"><span>Perfil de <%= userData.name %></span></a>
                    |
                    <a href="/logout"><span>Cerrar sesión</span></a>
                <% }else{ %>
                <a href="/registrarse"><span>Crear cuenta</span></a>
                |
                <a href="/login"><span>Iniciar sesión</span></a>
                <% } %>
 

            </div> 
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row mobile-first-menu">    
        <div class="col first-menu">
            <span>INICIO</span>
        </div>
        <div class="col first-menu">
            <span>PRODUCTOS</span>
        </div>
        <div class="col first-menu">
            <a href="/carrito"><span>CARRITO<span class="item cart-cant">3</span></span></a>
        </div>
    </div>
    <div class="row mobile-menu">
        <div class="col menu">
            <div class="session-link">
                <a href="#"><span>Crear cuenta</span></a>
                <a href="#"><span>Iniciar sesión</span></a>
            </div>
            <a href="/productos"><span>Productos</span></a>
            <a href="#"><span>Destacados</span></a>
            <a href="#"><span>Combos</span></a>
            <a href="/tabla-talles"><span>Tabla de talles</span></a>
            <a href="#"><span>Mis compras</span></a>
        </div>
    </div>

    <div class="row row-space logo-search">
        <div class="col col-md-3 logo-col">
            <div class="logo item">
            <a href="/"><img src="/images/nuevo logo.png" alt="" ></a>
            </div>
        </div>

        <div class="col menu-expanded">
            <ul class="menu-expanded-ul">
            <li class="menu-expanded-li"><a href="/productos">PRODUCTOS</a></li>
                <li class="menu-expanded-li"><a href=""><span class="divider-menu"><i class="fas fa-heart"></i></span>QUIÉNES SOMOS</a></li>
                <li class="menu-expanded-li"><a href=""><span class="divider-menu"><i class="fas fa-heart"></i></span>CONTACTO</a></li>
                <li class="menu-expanded-li"><a href="/tabla-talles"><span class="divider-menu"><i class="fas fa-heart"></i></span>TABLA DE TALLES</a></li>
                <li class="menu-expanded-li">
                    <div class="cart">
                        <a href="/carrito"><i class="fas fa-shopping-cart"></i>
                        <span class="item">10</span>  </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>