<div class="container-fluid">
    <div class="row main-footer row-space">
        <div class="col foot-section item">
            <h5>Información Útil</h5>
            <a href="#">Envíos</a>
            <a href="#">Devoluciones y cambios</a>
            <a href="#">Cuidado de las prendas</a>
        </div>
        <div class="col foot-section foot-social item">
            <h5>Redes Sociales</h5>
            <div class="item">
                <a href="#"><i class="fab fa-facebook item"></i></a>
                <a href="#"><i class="fab fa-instagram item"></i></a>
            </div>
            
        </div>
        <div class="col foot-section foot-social item">
            <h5>Contacto</h5>
                <div class="item">
                    <a href="tel:1162570026"><i class="fab fa-whatsapp item"></i></a>
                    <a href="mailto:walfblair@gmail.com"><i class="far fa-envelope item"></i></a>
                </div>
        </div>
        
    </div>

    <div class="row secondary-footer">
        <div class="col flex">
            <div class="madeby">
                <p>Copyright FedeGarcia.</p>
            </div>
        </div>
    </div>
</div>
<script src="/js/script.js"></script>