
 <%- include("../partials/html_header") %>
 <link rel="stylesheet" href="css/main-section.css">
 <title>BW Blairwalf | Página principal</title>
</head>

<body>
    <%- include("../partials/header") %>
    <div class="container-fluid first-carrousel">
        <div class="row row-space">
            <div class="col">
                <div class="flecha izquierda"><i class="fas fa-chevron-left"></i></div>
                
                <div class="mySlide">
                    <img src="/images/slider1.png" alt="">
                </div>
                <div class="mySlide">
                    <img src="/images/slider2.png" alt="">
                </div>
                <div class="mySlide">
                    <img src="/images/slider3.png" alt="">
                </div> 

                <div class="flecha derecha"><i class="fas fa-chevron-right"></i></div>
            </div>
        </div>
    </div>

    <div class="container main-section">
        <hr>
        <div class="row  row-space productos-destacados">
            <div class="col tarjeta">
                <div class="tarjeta-item">
                    <img src="https://via.placeholder.com/250x320" alt="">
                    <div class="tarjeta-item-bottom">
                        <h3>Titulo1</h3>
                        <p>descripcion</p>
                    </div>
                </div>
            </div>

            <div class="col tarjeta">
                <div class="tarjeta-item">
                    <img src="https://via.placeholder.com/250x320" alt="">
                    <div class="tarjeta-item-bottom">
                        <h3>Titulo1</h3>
                        <p>descripcion</p>
                    </div>
                </div>
            </div>

            <div class="col tarjeta">
                <div class="tarjeta-item">
                    <img src="https://via.placeholder.com/250x320" alt="">
                    <div class="tarjeta-item-bottom">
                        <h3>Titulo1</h3>
                        <p>descripcion</p>
                    </div>
                </div>
            </div>

            <div class="col tarjeta">
                <div class="tarjeta-item">
                    <img src="https://via.placeholder.com/250x320" alt="">
                    <div class="tarjeta-item-bottom">
                        <h3>Titulo1</h3>
                        <p>descripcion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

   <script src="/js/slider.js"></script>  

<%- include("../partials/footer") %>
</body>
</html>
