<%- include("../partials/header") %>


<link rel="stylesheet" href='/css/login.css'>
<title>BW Blairwalf | Iniciar Sesión</title>
<script src='/js/validations/validator.min.js'></script>
</header>
<body>

<%- include("../partials/encabezado") %>

    <div class="container">
        <div class="row register-form">
            <div class="col-sm-11 col-md-9 col-lg-6 col-xl-5">
                <% if(typeof messageError !== 'undefined'){ %>
                <div class="messageError">
                    <span class="closeButton">X</span>
                    <p><%= messageError %></p>
                </div>
                <% } %>
                
                <h3>Iniciar Sesión</h3>
                <p class="text-form">¿Nuevo/a en Blairwalf? <a href="/registrarse">Registrate gratis</a> </p>
                <form method="POST" action="/login" id="formulario">
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Ingrese su email" data-name="Email">
                        <p class="form-error"></p>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" data-name="Contraseña">
                        <p class="form-error"></p>
                    </div>
                    <div class="form-row" id="recordar">
                        <div class="col">
                            <input type="checkbox" name="remember" id="remember">
                            <label for="remember" class="text-form">Recordarme</label>
                        </div>
                        <div class="col">
                            <a href="/recuperar-password" class="text-form">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                    <button type="submit" class="btn send-button">Iniciar Sesión</button>
                    <p class="empty-form form-error"></p>
                </form>
                <hr>
                <a href="/auth/fb"><div class="btn send-button fb-button">Iniciar Sesión con Facebook</div></a>
                <a href="/auth/go"><div class="btn send-button g-button" id="customBtn">Iniciar Sesión con Google</div></a>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
    <script src="js/validations/loginValidate.js"></script>
    <script>startApp();</script>

</body>
</html>