<%- include("../partials/header") %>

<link rel="stylesheet" href="{{asset('/css/main-section.css')}}">
<title>BW Blairwalf | Productos </title>
</head>

<body>
<%- include("../partials/encabezado") %>

<div class="container main-section">
    <hr><p class="centrar">CONJUNTOS</p>
    <div class="row  row-space productos-destacados">
        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>

        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>

        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>

        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#"><p class="centrar">Ver mas...</p></a>
    <hr><p class="centrar">CORPIÑOS</p>

    <div class="row  row-space productos-destacados">
        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>

        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>

        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>

        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#"><p class="centrar">Ver mas...</p></a>

    <hr><p class="centrar">BOMBACHAS</p>

    <div class="row  row-space productos-destacados">
        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>

        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>

        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>

        <div class="col tarjeta">
            <div class="tarjeta-item">
                <img src="https://via.placeholder.com/250x320" alt="">
                <div class="tarjeta-item-bottom">
                    <h3>Titulo1</h3>
                    <p>descripcion</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#"><p class="centrar">Ver mas...</p></a>
</div>

<%- include("../partials/footer") %>
</body>
</html>
   
   