<%- include("../partials/header") %>
<link rel="stylesheet" href="{{asset('/css/main-section.css')}}">
<link rel="stylesheet" href="{{asset('/css/talles.css')}}">
<title>BW Blairwalf | Tabla de talles</title>
</head>
<body>
<%- include("../partials/encabezado") %>
<div class="container main-section" >
    <hr>
    <h5 class="centrar">TABLA DE TALLES</h5>
    <hr>
    <div class="talles-image">
        <img src="tabla-de-talles.jpg.png" width="600px" alt="">
    </div>
<p>. Las medidas están expresadas en cm.</p>

    <p>. Cuando quieras comprar una prenda no mires solo la tabla de talles, observá como es la prenda. En Wearelse usamos muchas prendas oversize, por ejemplo:</p>
    
               <p>- Camisas oversize talle único o S, que van a tener 110cm de busto, ya que la idea es q sea super amplia, mas que tu cuerpo.</p>
    
               <p>- Pantalones con spandex,  que tienen mucho spandex, hace que el pantalón sirva para varios talles.</p>
    
              <p> - Palazzos que tienen elásticos y son amplios, abarcan mas de un talle </p>
    
    <p>. Cuando las prendas son muy amplias (muy común en nuestras prendas) hacemos dos talles, ya que no sirve hacer mas talles, por que no se nota la diferencia. Solemos juntar XS y S en un talle S, y M y L, en un talle M.</p> 
    
    <p>. Contorno de busto NO es tu talle de corpiño. Si queres saber tu contorno de busto tenes que tomar un cinta metrica y medir la parte más voluptuosa del mismo. En general, está encima del pezón. Parate derecha, y medí esa zona con la cinta métrica en los omóplatos (ni por encima, ni por debajo), sin incluir el perímetro de los brazos</p>
    
    <p>. Por estas cuestiones que si no se explican, no se entienden, no estan expresadas las medidas de cada prenda. Preguntá, por la prenda que quieras y te asesoramos (por mail, instagram, whastapp), no te obsesiones solo mirando la tabla de talles, primero conocenos y consultanos. Quienes conocen las prendas saben que son talles reales :)</p>
    
</div>

<%- include("../partials/footer") %>
</body>
</html>